/* General styles */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.page-container {
  padding: 10px;
}

.app-bar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.app-bar .menu-icon {
  margin: 0 20px 0 -12px;
}

.spin {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@supports (-webkit-backdrop-filter: blur(50px)) {
  .dialog-background {
    -webkit-backdrop-filter: blur(50px);
    background: none !important;
  }
}

/* Some frequently used styles */

.text-center {
  text-align: center;
}

.padding-15 {
  padding: 15px;
}
