/* General styles */

:root {
  --home-bar-spacing: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.page-container {
  padding: 10px;
}

.app-bar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.app-bar .menu-icon {
  margin: 0 20px 0 -12px;
}

.spin {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@supports (-webkit-backdrop-filter: blur(50px)) {
  .dialog-background {
    -webkit-backdrop-filter: blur(50px);
    background: none !important;
  }
  .app-bar {
    -webkit-backdrop-filter: blur(5px);
  }
}

/* Some frequently used styles */

.text-center {
  text-align: center;
}

.padding-15 {
  padding: 15px;
}

/* iPhone fixes */

/* iPhone Xs */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  :root {
    --home-bar-spacing: 30px;
  }
}

/* iPhone Xs Max */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
  :root {
    --home-bar-spacing: 30px;
  }
}

/* iPhone Xr */
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  :root {
    --home-bar-spacing: 30px;
  }
}
